{
    "plugins": ["prettier", "babel"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "parser": "babel-eslint",
    "rules": {
        "babel/semi": 0,
        "prettier/prettier": "error"
    }
}