.program-wrap {
    margin-top: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
}

.card-list .card {
    width: 240px;
    margin-left: 12px;
}

@media screen and (max-width: 450px) {
    .card-list {
        display: block;
        margin-left: 0;
    }
    .card-list .card {
        width: inherit;
        margin-left: 0;
    }
}
